.section__list {
    @extend %list;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .section__title {
    font-size: 1.4286rem;
    color: $title-text-color-dark;
    font-weight: 700;
    // text-align: center;
    text-transform: uppercase;
    margin-bottom: 38px;
  
    }
  
    .services__item {
        width: 380px;
      }
    
      
      .services__item-title {
        margin-bottom: 28px;
        color: $title-text-color-dark;
        text-transform: uppercase;
      }
      
      .services__item-Shortdescr {
        font-size: 15px;
        line-height: 24px;
        color: $services-Shortdescr-color;
        font-family: $services-Shortdescr-font;
        font-weight: $base-font-weight;
        margin-bottom: 40px;
      }
      
      .services--mb {
        margin-bottom: 54px;
      }
    }
    
    &::after {
      content: '';
      display: block;
      width: 60px;
      height: 3px;
      background-color: $title-after-color;
      margin: 40px auto 0 auto;
    }
  
  }