.structure__heading {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;;
}

.structure-block {


}
.structure-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    ;
    border-radius: 0 30px 0 30px;
    margin: auto;
    width: 281px;
    height: 260px;
    margin-bottom: 16px;
}

      
      


.structure-block--tech {
    background-color: #f6ead0;
}
.structure-block--soft {
    background-color: #fbdcd2;
}
.structure-block--english {
    background-color: #e2d8f5;
}
.structure-block--hakaton {
    background-color: #c8eae8;
}