.structure__heading {
    display: flex;
    flex-direction: ;
    flex-direction: row-reverse;
    justify-content: flex-start;;
}


.structure-block {
    border: none;
    border-radius: 10px 20px 0 ;
    margin: auto;
    width: 281px;
    height: 260px;
    background-color: #2233ee;
    margin-bottom: 16px;
}